In [1]:
from sqlalchemy import create_engine
import pandas as pd

In [ ]:
import pymssql

In [ ]:
import pymysql.cursors

## Load CSV

In [17]:
df = pd.read_csv("/home/sahil/Documents/code/store_project/scripts/Names.csv", header=0)

In [18]:
df.head(5)

,transaction_id,transaction_valid,time,latitude,longitude,cash_or_card,online_purchase,amount,store_id
0,33903668,yes,2019-03-28T09:02:23,-60.320436,20.809526,card,no,69.329465,24
1,38026430,no,2019-03-28T09:02:51,62.295809,-170.548441,card,no,53.290129,18
2,83071065,NaN,2019-03-28T09:03:07,84.103645,78.051659,card,yes,59.322131,22
3,77190222,NaN,2019-03-28T09:02:26,-48.425737,-23.027035,cash,no,55.919388,25
4,71393551,yes,2019-03-28T09:03:00,58.526747,-161.796135,cash,no,52.232695,10

## Load CSV into Local Postgres Database

In [19]:
POSTGRES_USERNAME = "sahil"
POSTGRES_PASSWORD = "zxcvbnm"
POSTGRES_DBNAME = "postgres"
POSTGRES_HOST = "localhost"

url = 'postgresql://{}:{}@{}:{}/{}'.format(POSTGRES_USERNAME, POSTGRES_PASSWORD, POSTGRES_HOST, 5432, POSTGRES_DBNAME)
print(url)
engine = create_engine(url)

postgresql://sahil:zxcvbnm@localhost:5432/postgres

In [20]:
# %%timeit -r 3
df.to_sql('transaction_data',engine, if_exists='append')

## Load CSV into AWS Postgres Database

Bear in mid this time is affected by your internet speed and RDS instance type.

In [ ]:
POSTGRES_USERNAME = "sahil"
POSTGRES_PASSWORD = "Asdfg1234!"
POSTGRES_DBNAME = "postgres"
POSTGRES_HOST = "postgresdb2.cznthudneeub.eu-west-1.rds.amazonaws.com"

url = 'postgresql://{}:{}@{}:{}/{}'.format(POSTGRES_USERNAME, POSTGRES_PASSWORD, POSTGRES_HOST, 5432, POSTGRES_DBNAME)
print(url)
engine = create_engine(url)

In [ ]:
df.head(1000).to_sql('cfs_python',engine, if_exists='replace')

## Load CSV into Local MySQL Database

In [ ]:
POSTGRES_USERNAME = "root"
POSTGRES_PASSWORD = "zxcvbnm"
POSTGRES_DBNAME = "mysql"
POSTGRES_HOST = "localhost"

url = 'mysql+pymysql://{}:{}@{}:{}/{}'.format(POSTGRES_USERNAME, POSTGRES_PASSWORD, POSTGRES_HOST, 3306, POSTGRES_DBNAME)
print(url)
engine = create_engine(url)

In [ ]:
%%timeit -r 3
df.head(100000).to_sql('cfs_python',engine, if_exists='replace')

## Load CSV into AWS MySQL Database

In [ ]:
POSTGRES_USERNAME = "sahil"
POSTGRES_PASSWORD = "Asdfg1234!"
POSTGRES_DBNAME = "sahil"
POSTGRES_HOST = "mysql2.cznthudneeub.eu-west-1.rds.amazonaws.com"

url = 'mysql+pymysql://{}:{}@{}:{}/{}'.format(POSTGRES_USERNAME, POSTGRES_PASSWORD, POSTGRES_HOST, 3306, POSTGRES_DBNAME)
print(url)
engine = create_engine(url)

In [ ]:
# %%timeit -r 3
df.head(10000).to_sql('cfs_python',engine, if_exists='replace')

## Load CSV into Local SQL Server Database

[Install SQL Server](https://docs.microsoft.com/en-us/sql/linux/quickstart-install-connect-ubuntu?view=sql-server-2017)

In [1]:
import pymysql

In [ ]:
POSTGRES_USERNAME = "SA"
POSTGRES_PASSWORD = "Asdfg1234!"
POSTGRES_DBNAME = "sparkdemodb"
POSTGRES_HOST = "localhost"

url = 'mssql+pymssql://{}:{}@{}:{}/{}'.format(POSTGRES_USERNAME, POSTGRES_PASSWORD, POSTGRES_HOST, 3306, POSTGRES_DBNAME)
print(url)
engine = create_engine(url)

In [ ]:
engine.table_names()

In [ ]:
engine.execute("CREATE DATABASE TestDB1")